
@font-face {
  font-family: "Karmatic Arcade";
  src: URL(assets/ka1.ttf) format('truetype');
}

body{
    padding-top: 50px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

h1{
  font-family: "Karmatic Arcade";
  font-weight: normal;
  font-style: normal;
  color: lightpink;
  font-size: 5rem;

}

#container{
  background-color: lightgray;
  padding: 2rem;
  padding-top: 0rem;
  padding-left: 7rem;
  border-radius: 2rem;
  border-style: dotted;
  border-color: pink;
}

  #grid_n_avatars{
    display: flex; 
    flex-direction: row;
    gap: 20px;
  }

  #grid {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(12, 30px);
    grid-template-rows: repeat(12, 30px);
    gap: 0;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;  
  }

  #panel{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;      
    background-color: aqua;
    margin-right: 5rem;
    gap: 1rem;
}

#panelbuttons{
    display: flex;
    flex-direction: column;
    width: 120px;   
  }

  #panelbuttons #pause{
    flex: 1;
    /* max-height: 50%; */
    background-color: green;
    border-style: outset;
    border-color: pink;
    font-family: "Karmatic Arcade";
  }


  #panelbuttons p{
    flex: 1;              
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    font-family: "Karmatic Arcade";
  }

  #panelbuttons #score{
    display: flex;
    background-color: red;
    font-family: "Karmatic Arcade";
  }

  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #2f2323;
    box-sizing: border-box;
  }
  
  /* avatars */
  #avatars {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ava {
    font-size: 32px;
    padding: 10px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: 0.2s;
}

.ava:hover {
    transform: scale(1.2);
}


  /* direction buttons */

  .button-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    /* margin: 20px auto; */
  }
  
  .button-layout button {
    width: 40px;
    height: 40px;
    background: lightpink;
    border: 2px solid #888;
    border-radius: 8px;
    font-size: 20px;
    margin: 2px;
  }
  
  .middle-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .middle-row .center {
    width: 40px; /* empty space between left and right */
  }
  