* {
    color: #283618;
    background-color: #69A0C8;
}

@font-face {
    font-family: "Supreme Donuts";
    src: url("../assets/Supreme Donuts.otf") format("opentype");

    font-family: "9XUrlJNmn0LPFl-pOhYEd2NJ";
    src: url("../assets/9XUrlJNmn0LPFl-pOhYEd2NJ.ttf") format("opentype");

    font-family: "vite";
    src: url("../assets/vite.ttf") format("opentype");

    font-weight: normal;
    font-style: normal;
  }

@media only screen and (min-width: 600px){
    
}

/* Julies notes + button */
.options-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
}


 h1{
    font-family: "9XUrlJNmn0LPFl-pOhYEd2NJ", sans-serif;
    /* font-family: "PP Neue Montreal Bold", sans-serif; */
    font-weight: 2000;
    font-size: 7rem;
    color: #ffcfd2;
    text-align: center;

}
/* button  */
.options-row button{
    padding: 1rem;
    width: 10%;
    align-content: center;
    text-align: center;
 
}

/* container/list of notes */
.all-notes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

/* note */
.note-card {
    transform: rotate(15deg);
    display: flex;
    background-color: #9c6644;
    padding: 1rem;
    margin: 1rem;
    width: 20%;
    aspect-ratio: 1 / 1;
    transition: all 0.3s ease;
}

.note-card img{
    transform: rotate(inherit);
    display: block;
    width: 15%;
    background-color: inherit;
    align-self: center;

}

.note-card .note-card-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-grow: 1; 
    background-color: #9c6644;
}


.note-card textarea{
    display: flex;
    flex-direction: column;
    background-color: inherit;
    font-family: "vite", sans-serif;
    font-size: 2rem;
    border: none; 
    width: 100%;  
    height: auto;
    flex-grow: 1;
    /* aspect-ratio: 1 / 3;  */
}

.note-card textarea#title{
    height: 15%;
    resize: none;    
    font-weight: bolder;
    text-align: center;
}

.note-card textarea#breadtext{
    resize: none; 
    flex-grow: 1;         
    height: 90%;
}

.note-buttons{
    background-color: inherit;
}

.note-card button {
    margin-top: 0.5rem;    
    align-self: flex-end;  
  }

