* {
    color: #283618;
    background-color: #69A0C8;
}

@font-face {
    font-family: "Supreme Donuts";
    src: url("../assets/Supreme Donuts.otf") format("opentype");

    font-family: "9XUrlJNmn0LPFl-pOhYEd2NJ";
    src: url("../assets/9XUrlJNmn0LPFl-pOhYEd2NJ.ttf") format("opentype");

    font-family: "vite";
    src: url("../assets/vite.ttf") format("opentype");

    font-weight: normal;
    font-style: normal;
  }

@media only screen and (min-width: 600px){
    
}

/* Julies notes + button */
.options-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
}


 h1{
    font-family: "9XUrlJNmn0LPFl-pOhYEd2NJ", sans-serif;
    /* font-family: "PP Neue Montreal Bold", sans-serif; */
    font-weight: 2000;
    font-size: 7rem;
    color: #ffcfd2;
    text-align: center;

}

.options-row button{
    padding: 1rem;
    width: 10%;
    align-content: center;
    text-align: center;
 
}

/* for card-view (default) */
#all-notes.card-view {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

#all-notes.card-view .note-card {
    transform: rotate(12);
    display: flex;
    background-color: #9c6644;
    padding: 1rem;
    margin: 1rem;
    width: 20%;
    aspect-ratio: 1 / 1;
    transition: all 0.3s ease;
}

#all-notes.card-view .note-card img{
    transform: rotate(inherit);
    display: block;
    width: 15%;
    background-color: inherit;
    align-self: center;

}

#all-notes.card-view .note-card .note-card-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-grow: 1; 
    background-color: #9c6644;
}


#all-notes.card-view .note-card textarea{
    display: flex;
    flex-direction: column;
    background-color: inherit;
    font-family: "vite", sans-serif;
    font-size: 1rem;
    border: none; 
    width: 100%;  
    height: auto;
    flex-grow: 1;
    outline: none;    

    /* aspect-ratio: 1 / 3;  */
}

#all-notes.card-view .note-card textarea#title{
    height: 15%;
    resize: none;    
    font-weight: bolder;
}

#all-notes.card-view .note-card textarea#breadtext{
    resize: none; 
    flex-grow: 1;         
    height: 90%;
}

#all-notes.card-view .note-buttons{
    background-color: inherit;
}

#all-notes.card-view .note-card button {
    margin-top: 0.5rem;    
    align-self: flex-end;  
  }



/* list view */
#all-notes.list-view {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: none;
  }

#all-notes.list-view .note-card{
    display: flex;
    flex-direction: column;
    background: none !important;
    box-shadow: none !important;
    border: none !important;
    transform: none !important;
  }

#all-notes.list-view .note-card-body {
    background: none !important;
    display: flex;
    flex-direction: column;
    }


#all-notes.list-view .note-card img,
#all-notes.list-view .note-buttons{
    display: none;
}

#all-notes.list-view textarea{
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
    transform: none !important;
}

#all-notes.list-view .title{
    font-size: 3rem;
  }
#all-notes.list-view .breadtext{
    font-size: 1rem;
}